@import url(http://fonts.googleapis.com/css?family=Vidaloka:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Glass+Antiqua:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic,400);

/* This are also nice but not used here...
@import url(http://fonts.googleapis.com/css?family=EB+Garamond:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Prata:400italic,400);
*/

body { 
	font-family: "Old Standard TT", serif; 
	padding: 2cm 0 2cm 0;
	margin: 0 auto;
	width: 640px;
	text-align: center;
	color: #777;
}

h1 { font-size: 56px; letter-spacing: -0.01em; text-align: center; margin-bottom: 0; }
h2 { font-size: 48px; padding-bottom: 0; margin-bottom: 0; line-height: 1em; }
h1 + p, h2 + p { margin: 0; }
h3 { margin: 0; }

h1, h2, h3 { font-family: Vidaloka; font-weight: 400; }


footer {
	margin-top: 5em;
	font-size: 80%;
	display: block;
	color: #666;
}
footer a {
	color: inherit;
}

h1, h2, a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}

.silk {
	font-size: 48px;
}

.alma {
	font-size: 72px;
	font-family: "Lora";
	letter-spacing: -0.08em;
	line-height: 1em;
}
.bruno {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: -0.02em;
	line-height: 1em;
}

.frac64{
	letter-spacing: -2px;
	font-weight: 700;
	font-size: 52px;
}

.none{
	font-style: normal;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -0.05em;
	white-space: nowrap;
}
.none small {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -0.05em;
}
