@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Radley:400italic,400);

body { 
	font-family: Lora; 
	padding: 3cm 0 2cm 0;
	margin: 0 auto;
	width: 640px;
	text-align: center;
	color: #777;
}

h1 { font-size: 56px; font-weight: 400; letter-spacing: -0.01em; text-align: center; }

footer {
	margin-top: 5em;
	font-size: 80%;
	display: block;
	color: #666;
}
footer a {
	color: inherit;
}

a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}

.silk {
	font-style: italic;
	font-weight: 300;
	font-size: 48px;
}

.alma {
	font-size: 72px;
	font-family: "Lora";
	letter-spacing: -0.08em;
}
.and {
	font-size: 56px;
}
.bruno {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: -0.08em;
}

.frac64{
	letter-spacing: -5px;
	font-weight: 700;
	font-size: 52px;
	font-family: "Source Sans Pro";
}

.none{
	font-style: normal;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -0.05em;
	font-family: "Source Code Pro";
	white-space: nowrap;
}
.none small {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -0.05em;
	font-family: "Source Code Pro";
}

.vm {
	x-background-color: #c3ccd1;
	x-background-color: #69402e;
	x-background-image: url(http://www.bruno-lang.com/assets/img/noisy-2.png);
}
.vm th {
	font-weight: normal;
	letter-spacing: -0.03em;
	x-color: #fcd937;
	font-size: 36px;
}
.vm td {
	x-color: #fcd937;
}
